@font-face {font-family: 'Open Sans';
    src: url('//at.alicdn.com/t/bpoez3rdh2w97ldi.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/bpoez3rdh2w97ldi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/bpoez3rdh2w97ldi.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/bpoez3rdh2w97ldi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/bpoez3rdh2w97ldi.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: 'lanting';
    src: url('../fonts/MI-LANTING.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: 'xiaozhong';
    src: url('../fonts/KozMinStd-ExtraLight.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
body{
    font-family: "Helvetica","lanting",sans-serif;
}
.promo-wrapper{
    background:url( ../images/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.promo-wrapper:before{
    background-color:rgba(0,0,0,.6);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.full-height{
    height:100vh;
}
.navbar{
    /*background-color: #fff;*/
    position:absolute;
    width: 100%;
    z-index: 1030;
    min-height: 70px;
    padding-top: 28px;
    padding-bottom: 10px;
    margin: 0;
}
.navbar .navbar-header .navbar-brand img{
    width:36px;
    height: 36px;
    margin: -8px 0;
    display: inline-block;
    border-radius:50%;
}
.navbar-header button {
    background: 0 0;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.navbar-header button .icon-bar{
    background-color: #fff;
}
.navbar .navbar-header .navbar-brand span{
    margin-left: 15px;
    display: inline-block;
    color: #fff;
}
nav a{
    color: #fff;
}
.nav li a:hover{
    color: #049fbb;
    background: 0 0;
}
.nav .active a{
    color: #049fbb;
    background: 0 0;
}
.promo{
    position: relative;
}
.promo .intro{
    color:#fff;
    padding-top:200px;
}
.promo .intro h2.title {
    font-family: "Helvetica",sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 40px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255,255,255,.2);
    max-width: 620px;
    line-height: 1.25
}
.promo .intro h3.summary {
    color: rgba(255,255,255,.8);
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: 25px;
    font-weight: 400
}
.promo .intro .btn-wrapper .btn-cta{
    margin-right: 15px;
    background: rgba(4,159,187,.7);
    border: 2px solid rgba(4,159,187,.7);
    color: #F7F7D5;
}
.promo .intro .btn-wrapper .btn-cta:hover {
    background: #049fbb;
    border-color: #049fbb
}
.btn,a.btn {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    font-family: Roboto,sans-serif;
    padding: 8px 32px;
    font-weight: 600;
}
.h-body{
    margin: 0 auto;
}
.h-body div{
    font-family: 'xiaozhong',sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #666;
    line-height: 1.5;
}
@media (max-width: 768px){
    .promo .intro{
        padding-top:300px;
        padding-bottom: 30px;
    }
}
@media (max-width: 420px){
    .promo-wrapper {
        min-height: 420px;
        background:url( ../images/background.jpg) no-repeat center center;
    }
    .promo .intro{
        padding-top:150px;
        padding-bottom: 30px;
    }
    .promo .intro h2.title {
        font-size: 23px;
        padding-bottom: 15px;
        margin-bottom: 15px
    }

    .promo .intro h2.title .sub {
        font-size: 20px
    }

    .promo .intro h3.summary {
        font-size: 14px;
        margin-top: 20px
    }
    .promo .intro .btn-wrapper .btn-cta {
        margin-bottom: 15px;
        margin-right: 0
    }
    .navbar{
        background-color: #232323;
    }
    .h-body{
        margin:20px auto;
    }
    .jumbotron p {
        padding: 0 40px;
    }
    .h-body div{
        font-family: 'lanting',sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #666;
        line-height: 1.5;
    }
}
@media (min-width: 769px){
    .promo .intro{
        padding-top:200px;
    }
}
@media (max-width: 320px){
    .promo .intro{
        padding-top:40px;
        padding-bottom: 30px;
    }
    .nav>li {
        font-size: 12px;
        position: relative;
        display: block;
        height: 25px;
    }
}
